<div class="jumbotron">
    <div class="row">
        <div class="col-sm-3">
            <address>inclick24 <br> kirtaniya, P.O - Ammapali <br> Dist- Bhagalpur (Bihar) <br> Pin - 812009 </address>
        </div>
        <div class="col-sm-3">
            <ul>
                <li>
                    Facebook
                </li>
                <li>
                    LinkedIn
                </li>
                <li>
                    Twitter
                </li>
                <li>
                    Youtube
                </li>
            </ul>
        </div>
    </div>
    <div>
        reserived
    </div>

</div>

