<div class="container-fluid bg-gray1"  >
    <div class="row bg-dark p-2">
       <h5 class="text-white align-self-center ">
           SSC Online Mock 2012
       </h5>
    </div>
    <div class="row border bg-gray1" >
        <div class="col-9 h-100 border border-1 border-dark">

            <div class="row p-2 bg-gray1 ">
                <p>“We built Flutter from the ground up to be this beautiful, fast, productive, open-source 
                    toolkit for building tailored experiences, originally for mobile,” Google’s group product 
                    manager for Flutter, Tim Sneath, told me. “The big news for this week is that we are finally 
                    opening Flutter up beyond just mobile to really lean into our broader vision for Flutter as our
                     general-purpose, portable UI toolkit for mobile, we, embedded and desktop.”</p>
            </div>

            

            
        </div>
        <div class="col-3 h-100 border border-1 border-dark">
            
            
        </div>
    </div>

</div>
