<div class="card  m-3">
    <div class="card-body align-content-between">
        <img class="product-avtar" src="https://images1.livehindustan.com/uploadimage/library/2018/07/25/16_9/16_9_1/SSC_GD_Constable_Recruitment_2018_1532506135.jpg">
    </div>
    <div class="card-footer bg-white">
        <h4 class="modal-title">SSC Exam Package For You</h4 >
        <div class="align-self-center ">
            <div class="">No. Of Question : 500</div>
            <div class="">10 Advanced Test - Prelims</div>
            <div class="">10 Special Prelims Prep Test</div>
        </div>
           <a  data-toggle="modal" data-target=".bd-example-modal-lg" href="#"> <p class="text-primary float-right  ">More Details +</p></a>
          
    </div>
    <button class="btn btn-success m-2">
            Unlock The Test
        </button>
   
</div>

<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- Modal Header -->
       <div class="modal-header">
            <h4 class="modal-title">Black</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

         <!-- Modal body -->
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table border border-info">
                    <tbody>
                        <tr>
                            <th>Number Of Question </th>
                            <th>100 </th>
                        </tr>

                        <tr>
                                <th>Number Of Full length test </th>
                                <th>100 </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
