<div class="bg-secondary2 pt-3 pb-2 ">
    <div class="container  transparent">
        <h4 class="" style="font-family: 'Lobster', cursive; " > Upcoming and Popular Exams<i class="fa fa-bolt" style="font-size:18px;color:red"></i> </h4>
        
        <div class="row">
            <div class="card  card2 m-3">
                <div class="card-body" style="text-align: center;" >
                    
                        <img class="rounded-circle h-5 w-5 " src="https://storage.googleapis.com/testbook/products/2018/June/25/__w-200-400-600__/SSC-Logo-1-1024x538.png">
                    
                    <h6>Title</h6>
                </div>
            </div>

            <div class="card  card2 m-3">
                <div class="card-body" style="text-align: center;" >
                    
                        <img class="rounded-circle h-5 w-5 " src="https://storage.googleapis.com/testbook/products/2018/June/25/__w-200-400-600__/SSC-Logo-1-1024x538.png">
                    
                    <h6>Title</h6>
                </div>
            </div>

            <div class="card  card2 m-3">
                <div class="card-body" style="text-align: center;" >
                    
                        <img class="rounded-circle h-5 w-5 " src="https://storage.googleapis.com/testbook/products/2018/June/25/__w-200-400-600__/SSC-Logo-1-1024x538.png">
                    
                    <h6>Title</h6>
                </div>
            </div>

            <div class="card  card2 m-3">
                <div class="card-body" style="text-align: center;" >
                    
                        <img class="rounded-circle h-5 w-5 " src="https://storage.googleapis.com/testbook/products/2018/June/25/__w-200-400-600__/SSC-Logo-1-1024x538.png">
                    
                    <h6>Title</h6>
                </div>
            </div>
        </div>
    </div>
</div>